<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <title>Gallery</title>
</head>
<body>

    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/success">Main Feed </a>
            </li>

            <li>
                <a class="nav-link active" href="/logout">Logout </a>

            </li>

            <li>
                <a class="nav-link active" href="/dashboard">Dashboard </a>

            </li>
                
            
            
            </ul>
        
    {% for pictures in picture %}
        <img class="largeimage" src="{{ pictures.file.url }}" alt="">
        <a href="/photodel/{{ pictures.id }}"><button type="submit" class="btn btn-danger">Delete</button></a>



    {% endfor %}

</div><!--Main Container -->


</body>
</html>